/*Style pour la section accueil*/

.accueil {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    overflow: hidden;
    font-size: 18px;
}

.accueil h1 {
    position: relative;
    opacity: 0;
    top: -68px;
    transition: transform 1s ease, opacity 1s ease;
}

.accueil.visible h1 {
    transform: translateY(68px);
    opacity: 1;
}

.accueil h3{
    padding: 20px;
}

.accueil .typing::after {
    content: "|"; /* Barre de curseur */
    display: inline-block;
    margin-left: 2px;
    animation: blink 0.7s steps(2) infinite;
}

/* Animation du curseur clignotant */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.chevrons {
    display: flex;
    position: absolute;
    bottom: -155px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.chevrons.visible {
    transform: translateY(-165px);
    opacity: 1;
}

.chevron {
    font-size: 30px;
    opacity: 0;
    animation: fadeIn 1.4s forwards infinite;
    margin: 5px 0;
    color: white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation pour chaque chevron avec un délai */
.chevron:nth-child(1) {
    animation-delay: 0s;
}

.chevron:nth-child(2) {
    animation-delay: 0.3s;
}

.chevron:nth-child(3) {
    animation-delay: 0.6s;
}