.intro {
    display: flex;
    width: 75%;
	max-height: 100vh;
	justify-content: center;
	align-items: center;
	flex: 1;
}

p.typer {
    display: block;
    width: 100%;
	max-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.5em;
	text-align: center;
}
  i {
	display: inline-block;
	font-style: normal;
	transform: scale(1);
	transition: all 1s ease;
	padding-bottom: 12px;
  }
  i.fly-in-out {
	color: rgba(255, 255, 255, 0.9);
	animation: fly-in-out 6s ease-in-out;
  }

  @keyframes fly-in-out {
	0% {
	  transform: scaleY(-3) translate3d(0, -300%, 0);
	}
	15%, 45% {
	  transform: scaleZ(1);
	}
	100% {
	  transform: scale3d(9);
	}
  }

  @media (max-width : 600px){
		.intro{
			padding-top: 180px;
			padding-bottom: 40px;
			overflow-y: scroll;
			width: 87%;
			max-height: 150%;
		}
  }